.pagecontainer-horiz {
    position: relative;
    height: 100%;
    display: -webkit-flex;
    display: -mox-flex;
    display: flex;
}
.pagecontainer-horiz > .page {
    display: inline-block;
    height: 100%;
}

.pagecontainer-vert {
    position: relative;
    width: 100%;
}
.pagecontainer-vert > .page {
    width: 100%;
}
